body {
  background-color: #e6f4f1;
  font-family: "Noto Serif", serif;
  color: #001e21;
}

.container {
  margin: 100px auto;
  max-width: 600px;
}

a {
  color: #00ab83;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 1.5;
  color: #002d32;
  text-align: center;
  letter-spacing: 1px;
}

.form-container {
  margin-bottom: 30px;
  padding: 40px 15px;
  background-color: #ffffff96;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border: 1px solid #002d32;
}

form {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.hint {
  opacity: 70%;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding-left: 10px;
}

.search-bar {
  padding: 10px 15px;
  border: 1px solid #002d32;
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  margin-right: 8px;
  text-align: center;
}

.search-bar::placeholder {
  color: #868b8e;
}

.search-button {
  font-family: "Noto Serif", serif;
  border: none;
  background-color: #00ab83;
  font-size: 16px;
  border-radius: 50px;
  padding: 10px 20px;
  width: 20%;
  color: #fff;
}

.search-button:hover {
  cursor: pointer;
  background-color: #002d32;
  transition: ease-in-out 200ms;
}

.recipe {
  background-color: #fff;
  font-size: 14px;
  padding: 20px;
  line-height: 1.5;
  border: 1px solid #002d32;
  box-shadow: 0px 4px 30px 0px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

.recipe h2 {
  font-size: 24px;
}

.recipe h3 {
  font-size: 18px;
}

.recipe h4 {
  opacity: 70%;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 600;
}

.recipe li {
  margin-bottom: 5px;
  font-size: 14px;
}

.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 2s infinite;
}

footer {
  font-size: 12px;
  padding: 30px 0;
  text-align: center;
}

@media screen and (max-width: 657px) {
  .container {
    margin: 70px auto;
  }

  h1 {
    font-size: 32px;
  }

  .form-container {
    margin: 0 5px 30px;
    padding: 25px 10px;
  }

  .search-bar,
  .search-button {
    font-size: 14px;
  }

  .search-bar {
    padding: 10px;
  }

  .search-button {
    width: 25%;
    padding: 10px 5px;
  }

  .recipe {
    margin: 0 5px 30px;
    padding: 15px;
  }

  .load-msg {
    font-size: 14px;
  }

  footer {
    padding: 30px 15px;
  }
}
